<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336932110347-s0o6brm92d7u4ce0ton8cleoa5t4mh8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336932110347-s0o6brm92d7u4ce0ton8cleoa5t4mh8u</string>
	<key>API_KEY</key>
	<string>AIzaSyDYsBAaP6wgzNiuTRpmEDooMOimECjAq7U</string>
	<key>GCM_SENDER_ID</key>
	<string>336932110347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muysal18.Quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-12349</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-12349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:336932110347:ios:9df519320de76b8886870e</string>
</dict>
</plist>
